@model FirmaData.Data.CMS.ContentImage

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="/foto/@Model.Image" class="rounded float-start" width="140" height="100" alt="...">
</a>


