@model IEnumerable<FirmaData.Data.CMS.ContentString>
@using FirmaData.Data.CMS

@{
    var kont = ViewBag.ModelKupon as ContentInput;
}
<div class="row mb-4">
    @if (kont != null)
    {
        <div class="col mb-2">
            <input type="@kont.Input" class="form-control border-light btn-dark" placeholder="@kont.Value" />
        </div>
    }
    @foreach (var item in Model)
    {
        <div class="col-auto">
            <button class="btn btn-dark">@item.Value</button>
        </div>
    }
</div>
