@model FirmaData.Data.CMS.ContentImage

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="mt-4">Edycja Content Image</h2>
    <div class="col-md-6">
        <form asp-action="Edit" class="needs-validation text-white">
            <input type="hidden" asp-for="IdContentImage" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Key" class="form-label col-form-label-lg text-dark">Link Tytuł</label>
                <input asp-for="Key" class="form-control form-control-lg border-light btn-dark" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="form-label col-form-label-lg text-dark">URL Zdjęcia</label>
                <input asp-for="Image" id="formFileLg" type="file" class="form-control form-control-lg border-light bg-dark text-white" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between mb-3">
                <a asp-action="Index" class="btn btn-dark btn-lg border btn-outline-light">Powrót do listy</a>
                <input type="submit" value="Zapisz" class="btn btn-dark border-dark btn-lg btn-outline-light" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
