@model IEnumerable<FirmaData.Data.Sklep.Zamowienia>
@{
    ViewData["Title"] = "Koszyk";
}

<div class="d-flex flex-column align-items-center justify-content-center text-center px-3">
    <div class="container py-4">
        @await Html.PartialAsync("Zamowienia",
                 (IEnumerable<FirmaData.Data.Sklep.Zamowienia>)ViewBag.ModelKoszyk)
        @await Html.PartialAsync("ButtonKoszyk",
                 (IEnumerable<FirmaData.Data.CMS.ContentString>)ViewBag.ModelButtons)
        @await Html.PartialAsync("PodsumowanieKoszyk",
                 (IEnumerable<FirmaData.Data.CMS.ContentString>)ViewBag.ModelKoszt)
    </div>
</div>



